.measurement_image{
    position:fixed;
    top:0;
    opacity: .5;
   
}

@font-face{
    font-family:"white";
    src: url("../fonts/whitney-cufonfonts/whitneysemibold-webfont.woff")format("woff"),  url("../fonts/whitney-cufonfonts/whitneysemibold-webfont.woff2")format("woff2"), url("../fonts/whitney-cufonfonts/whitneysemibold.ttf")format("truetype");
    
}

:root{
    font-family: "white",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    --black:#000;
    --white:#fff;
    --men: #ee5f73;
    --women:#ff00bd;
    --gray_anchor_background:#fafafa;
    --gray_anchor_color:#444;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;    
}

body{
    width:100vw;
    height:100vh;
    background-color:var(--white);
    z-index:1;
    /* background-image: repeating-linear-gradient(90deg,red, red 1px, transparent 1px, transparent 30px),repeating-linear-gradient(180deg,red, red 1px, transparent 1px, transparent 30px); */
}

/* header CSS */

header{
    width:100vw;
    height:80px;

    display:grid;
    grid:" . logo nav . search icon ." 1fr/
         30px 53px 450px 1fr max-content max-content 30px;

    align-items: center;
    gap:0 30px;

    position:fixed;
    top:0;
    box-shadow:0 0 16px rgba(12, 7, 7, 0.1);
    background-color:var(--white);
}

.logo{   
    grid-area:logo;
}

.logo img{
    width:53px;
    height:36px;
    cursor:pointer;
}

.nav{
    grid-area:nav;
    width:470px;
    height:auto;
    position:relative;
    left:2.7rem;
    border:1px solid red;   
}

.nav_men:hover{
    border-bottom:5px solid var(--men);
}



.nav_women:hover{
    border-bottom:5px solid var(--women);
}

.nav_main{
    text-decoration: none;
    text-transform: uppercase;
    color:black;
    padding:25px 13px 25px 12px;
    cursor:pointer;
    border:1px solid black;
    position:relative;
}

/* header men hover navigation CSS */

.hover_navigation{
    width:1140px;
    height:435px;
    background-color:var(--white);
    /* overflow: hidden; */
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    position:absolute;
    top:48px;
    left:-45px; 
    border:1px solid blue;
    
}

/* user point at main navigation menu and other navigation menu links appeare CSS */

.men_nav{
    display:none;
}

.nav_men:hover ~ .men_nav, .men_nav:hover{
    display: block;
}

.women_nav{
    display:none;
}

.nav_women:hover ~ .women_nav, .women_nav:hover{
    display: block;
}




.hover_navigation ul{
    padding:15px 30px;  
}
 .hover_navigation > :nth-child(2), .hover_navigation > :nth-child(4){
    background-color:var(--gray_anchor_background);
}
.ul {
    list-style-type: none;
}

.hover_nav_element{
    display:inline-block;
    margin-bottom: 5px;   
}


/* hover menus headers CSS */
.men_hover_nav_header {
   color:var(--men) ;
   text-decoration: none;
   display:inline-block;
   margin-top:10px;
   margin-bottom: 15px;
}

.women_hover_nav_header:hover{
    color:var(--women) ;
 }

 .women_hover_nav_header {
    color:var(--women) ;
    text-decoration: none;
    display:inline-block;
    margin-top:10px;
    margin-bottom: 15px;
 }
 
 .women_hover_nav_header:hover{
     color:var(--women) ;
  }

/* hover menus general elements */
 .hover_nav_element{
    text-decoration:none;
    font-family: "white";
    font-size:14px;
    color:var(--gray_anchor_color);    
}

.hover_nav_element:hover{
    color:var(--black)
}



/* header search bar CSS */

.header_search{
    grid-area:search;
    height:max-content;
    margin-right:2rem;
    background-color:#f5f5f6;
    margin-right:1rem;
}

.header_search span{
    padding:0 20px;
}


.header_search svg{
    width:1.5rem;
    position:relative;
    top:.5rem;
    left:-.3rem;
    fill:#777; 
} 


.header_search input{
    width:500px;
    height:40px;
    font-size:.9rem;
    font-family:"white";
    font-weight:100;
    background-color:#f5f5f6;
    border:none;
    outline:none;
}


/* header icons in right corner profile, wishlist, Bag CSS*/


.header_icon{
    grid-area:icon;
    height:50%;
    width:10rem;
    position:relative;
}

.header_icon > :nth-child(1){
    position:absolute;
    width:1.1rem;
    left:.2rem;
    top:.2rem;
    cursor:default;
}

.header_icon > :nth-child(2){
    position:absolute;
    top:1.7rem;
    left:-.2rem;
    font-size: .7rem;
    font-weight: 600; 
    padding-bottom: 1rem;
    cursor:default;
}

.header_icon > :nth-child(3){
    position:absolute;
    top:.2rem;
    left:4.2rem;
    width:1.2rem;
    cursor: pointer;
}

.header_icon > :nth-child(4){
    position:absolute;
    bottom:0;
    left:3.4rem;
    font-size: .7rem;
    font-weight: 600;
    cursor: pointer;
}

.header_icon > :nth-child(5){
    position:absolute;
    top:.3rem;
    right:1rem;
    width:1.2rem;
    cursor: pointer;
}

.header_icon > :nth-child(6){
    position:absolute;
    bottom:0;
    right:1rem;
    font-size: .7rem;
    font-weight: 600;
    cursor: pointer;
}

/* main CSS */
main{
    margin-top:85px;
}